<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.timbreoapp736165" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TimbreoAPP</name>
  <description>
        Aplicación creada para el timbreo de CABA
    </description>
  <author email="dferreira@oxirium.com" href="http://www.oxirium.com/">
      David Ferreira
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>

  <!-- PhoneGap plugins for PhoneGap Build to attach to build -->
  <gap:plugin name="org.apache.cordova.device" version="0.2.12" source="pgb" />
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" source="pgb" />
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" source="pgb" />


  <plugin name="Device" value="org.apache.cordova.Device"/>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <platform name="android">
    <icon src="icons/icon.png" />
  </platform>

</widget>
